.datos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.datos-cont{
        display: flex;
        flex-direction: row;
        gap: 90px;
        padding: 20px 2px;
}
.datos-cont p{
    text-align: center;
    color: #122b7e;
    font-weight: bold;
}