.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 40px;
}
.perfilredondo{
        width: 215px;
        height: 215px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-color: #6918b4;
        border-width: 6px;
        border-style: solid;
}
.img-perfil{
    width: 192px;
    height: 192px;
    border-radius: 192px;
}
.icon-perfil{
    margin-top: 10px;
    display: flex;
    width: max-content;
}
.icon-perfil img{
    width: 36px;
    height: 36px;
}
.perfil{
    display: flex;
    flex-direction: column;
    color: #122b7e;
}
.perfil p{
    margin-top: 5px;
    font-size: 22px;
    color: #1a3eb4;
}