.ficha{
    background-color: #8318b4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
    padding: 20px;
    border-radius: 20px;
    width: min-content;
}
.port{
    background-color: #6918b4;
    width: 349.595px;
    height: 80px;
    border-radius: 10px;
    border: none;
    color: #A3ABB2;
    font-size: 22px;
}
.skills{
width: 382.37px;
    background: none;
    border: none;
    background-color: #8318b4;
    color: #A3ABB2;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
}